#spn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#code {
    background-color: rgba(196, 196, 196, 0.8); 
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 30px;
    height: 45px;
    width : 430px;
    border: 0px;
    padding: 10px;
}



#bttn {
    margin-left: 20px;
}

#connexion {
    height: 650px;
    margin-bottom: 30px;
}